.week {
    display: flex;
    width: 100%;
    margin-top: 10px;
    background: #a7a5a5;

}

.day {
    display: flex;
    flexDirection: column;
    justifyContent: center;
    alignItems: center;
    width: 15%;
    margin: 8px;
}
.slot:hover {
    color: #5C9541 !important;
    font-weight : bold!important;
}
/*table, th, td {*/
/*    border: 1px solid black;*/
/*    width : 80px*/
/*}*/
