/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/upload
/themes/twentyseventeen/page
/themes/twentyseventeen-child/utils/Util.php
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log